* text=auto

*.cs      text diff=csharp
*.xaml    text
*.csproj  text
*.slnx    text
*.sln     text eol=crlf
*.md      text

*.dwg     binary
*.dxf     -text
*.shx     binary
*.png     binary
*.ico     binary
